This notebook adapts the first Dataquest knn lesson to the Garfield dataset.

Calculate the Euclidean distance between our choice of bedrooms 3 people, and the first living space in the garfield Dataframe. Assign the result to first_distance and display the value using the print function.

In [2]:
import pandas as pd
garfield = pd.read_csv('garfield_no_zeros_clean.csv')
garfield.head()

,Index,Inspection_Date,Sale_Date,Sale_Price,Location,Classification,Architectural_Style,Year_Built,Bedrooms,Baths,Square_Feet,Count,Price_per_SF
0,0,2014-07-04,2014-08-08,210000,CARBONDALE,Condo,CONDO,1974.0,1,1.0,621.0,1,338.164251
1,1,2015-11-06,2015-12-11,265000,CARBONDALE,Condo,CONDO,1980.0,1,1.0,732.0,1,362.021858
2,2,2015-03-10,2015-04-14,308500,CARBONDALE,Condo,CONDO,2008.0,1,1.0,792.0,1,389.520202
3,3,2015-12-16,2016-01-20,160000,CARBONDALE,Condo,CONDO,1981.0,1,1.0,800.0,1,200.000000
4,4,2016-03-04,2016-04-08,340000,CARBONDALE,Condo,CONDO,2007.0,2,1.0,864.0,1,393.518519

In [3]:
import numpy as np
our_acc_value = 3
first_living_space_value = garfield.iloc[0]['Bedrooms']
first_distance = np.abs(first_living_space_value - our_acc_value)
print(first_distance)

2

Calculate the distance between each value in the accommodates column from garfield['Bedrooms'] and the value 3

In [4]:
garfield['distance'] = garfield['Bedrooms'].apply(lambda x: abs(x - 3))
print(garfield['distance'].value_counts)

<bound method IndexOpsMixin.value_counts of 0       2
1       2
2       2
3       2
4       1
5       1
6       1
7       1
8       1
9       0
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      1
21      0
22      0
23      0
24      0
25      1
26      1
27      1
28      1
29      1
       ..
1906    2
1907    0
1908    0
1909    1
1910    1
1911    1
1912    0
1913    0
1914    0
1915    0
1916    0
1917    1
1918    2
1919    0
1920    1
1921    3
1922    1
1923    1
1924    1
1925    0
1926    1
1927    1
1928    1
1929    2
1930    2
1931    2
1932    1
1933    2
1934    2
1935    2
Name: distance, Length: 1936, dtype: int64>

Randomize the order of the rows.

In [12]:
np.random.seed(1)
shuffled_index = np.random.permutation(len(garfield))
garfield = garfield.loc[shuffled_index]
garfield = garfield.sort_values('distance')
print(garfield['Sale_Price'].head(10))

860     385000
410     240000
1881    320000
1815    265000
1131    316000
1861    384000
256     274000
1147    283300
1840    309000
1519    155000
Name: Sale_Price, dtype: int64

* Calculate the mean of the first 25 values in the sale price column and assign to mean_price.
* Use the print function or the variable inspector below to display mean_price.

In [57]:
mean_price = garfield.iloc[0:5]['Sale_Price'].mean()
print(mean_price)

509600.0

Dataquest: Let's write a more general function that can suggest the optimal sale price for other values of the Bedrooms column. The garfield Dataframe has information specific to our Bedrooms, e.g. the distance column. To save you time, we've reset the garfield Dataframe to a clean slate and only kept the data cleaning and randomization we did since those weren't unique to the prediction we were making for our living space.

In [58]:
garfield = garfield.loc[np.random.permutation(len(garfield))]

def predict_price(new_listing):
    temp_df = garfield.copy()
    temp_df['distance'] = temp_df['Bedrooms'].apply(lambda x: abs(x - new_listing))
    temp_df = temp_df.sort_values('distance')
    new_listing = temp_df.iloc[0:5]['Sale_Price'].mean() # I upped this to 25 because there are a lot of listings to pull from
    return(new_listing)

acc_one = predict_price(1)
acc_two = predict_price(2)
acc_three = predict_price(3)
acc_four = predict_price(4)
acc_five = predict_price(5)
acc_six = predict_price(6)

Suggested price for 1 bedroom:

In [59]:
print(acc_one)

433600.0

Suggested price for 2 bedroom:

In [60]:
print(acc_two)

297200.0

Suggested price for 3 bedroom:

In [61]:
print(acc_three)

415600.0

Suggested price for 4 bedroom:

In [62]:
print(acc_four)

420760.0

Suggested price for 5 bedroom:

In [63]:
print(acc_five)

579627.0

Suggested sale price for 6 bedroom:

In [64]:
print(acc_six)

688500.0

Notes: The above predictions change each time the random permutation is changed, so re-running the permutation will change results. 

The predictions based on sale price alone (no consideration of location, square footage, home-type, condition, bedrooms, etc.) are not enough to come up with accurate predictions. An interesting thing to note is that the predicted price for one bedrooms is close or often higher than two bedrooms. Perhaps new one-bedroom condos are being sold in Carbondale, but not in the less-expensive markets? Also seeing that 6 bedroom listings sometimes have a lower predicted price than 5 bedrooms, perhaps because there are fewer listings of each type to evaluate.